.item {
  width: 200px;
}
.item img {
  width: 200px;
  height: 250px;
  object-fit: cover;
}

.item-prices {
  display: flex;
  gap: 18px;
}

.item-price-new {
  color: rgb(49, 46, 46);
  font-size: 15px;
  font-weight: 500;
}

.item-price-old {
  color: rgb(137, 131, 131);
  font-size: 15px;
  font-weight: 400;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.02);
  transition: 0.3s;
}
