.description {
  margin: 48px 140px 55px 86px;
}
.description-review {
  display: flex;
  gap: 5px;
  margin-bottom: 12px;
}
.description-review span {
  font-size: 12px;
}
.description-review p {
  border: 1px solid rgb(206, 203, 203);
  padding: 5px 8px;
  font-size: 15px;
  border-radius: 8px;
}
.description-text {
  text-align: justify;
  font-size: 13px;
}
