.cart-item {
  margin: 30px 70px;
}
.cartitem-product {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.cartitem-product img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}
table {
  border-collapse: collapse;
}
table,
th,
td {
  border: 1px solid black;
  font-weight: 400;
  font-size: 15px;
}

th,
td {
  padding: 5px;
  text-align: center;
}
th {
  background-color: #031d32;
  color: white;
}

.cartitem-down {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin: 90px 0;
}
.cart-total {
  width: 350px;
}

.cart-total p {
  font-size: 15px;
}
.cart-total h4 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.cart-total button {
  margin-top: 10px;
  width: 40%;
}
.cart-total button:hover {
  background-color: #194a72;
}

.subtotal {
  display: flex;
  justify-content: space-between;
}
.shipping {
  display: flex;
  justify-content: space-between;
}
.total {
  display: flex;
  justify-content: space-between;
}

.promo-code {
  display: flex;
  width: 300px;
  height: 30px;
  gap: 5px;
  margin-top: 8px;
}
.promo-code button {
  width: 60px;
  font-size: 15px;
  background-color: rgb(3, 102, 3);
}
.promo-code button:hover {
  background-color: rgb(52, 129, 52);
}
