.new-collection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 140px;
  /* width: 95%; */
  margin: auto;
}

.new-collection hr {
  border: none;
  width: 100px;
  height: 3.5px;
  border-radius: 10px;
  background: #3a3d8d;
  margin-top: 4px;
}
.collection-item {
  display: grid;
  grid-template-columns: repeat(4, auto);
  gap: 25px;
  margin-top: 35px;
}
