.offer {
  width: 80%;
  height: 80vh;
  display: flex;
  margin: auto;
  background: linear-gradient(180deg, #c9b7e6, #97087322 80%);
  padding: 15px 120px;
  margin-top: 50px;
  gap: 25px;
  margin-bottom: 80px;
  align-items: center;
}

.offer-left {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.offer-left h2 {
  color: rgb(42, 39, 39);
  font-weight: 600;
  font-size: 35px;
}

.offer-left p {
  font-weight: 400;
  font-size: 20px;
  color: rgb(42, 39, 39);
}
.offer-left button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #3a3d8d;
  color: white;
  margin-top: 50px;
  padding: 18px;
  font-size: 15px;
  cursor: pointer;
  height: 30px;
  width: 190px;
  border-radius: 8px;
  gap: 10px;
  text-transform: uppercase;
}

.offer-right {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.offer-right img {
  width: 230px;
  border-radius: 8px;
}
