.product-display {
  display: flex;
  padding: 30px 80px;
  gap: 40px;
}

.display-left {
  display: flex;
  gap: 5px;
  align-items: center;
}
.price {
  display: flex;
  gap: 7px;
  align-items: center;
}

.product-image {
  width: 480px;
  height: 360px;
  object-fit: cover;
}

.display-right h3 {
  font-size: 24px;
  font-weight: 600;
}

.right-size {
  display: flex;
  gap: 5px;
  align-items: center;
  margin-top: 40px;
}
.right-size h3 {
  font-size: 18px;
  font-weight: 500;
}
.right-size p {
  border: 1px solid rgb(213, 210, 210);

  border-radius: 4px;
  padding: 2px 9px;
  cursor: pointer;
}

.right-size p:hover {
  background-color: rgb(236, 233, 233);
}

.rating {
  display: flex;
  align-items: center;
  gap: 3px;
}

.display-right p {
  font-size: 11px;
  font-weight: 400;
  margin: 5px 0;
}
.display-right p span {
  font-weight: 500;
  font-size: 12px;
}

.display-right button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  width: 130px;
  gap: 5px;
  margin-top: 15px;
}

.display-right button:hover {
  background-color: #064576;
}

.display-right button p {
  font-size: 14px;
}
